/*---------------navbar-style --------------------*/
.navbar ul {
    display: flex;
    /* justify-content: end; */
    list-style: none;
    /* align-items: end; */
    font-weight: bolder;
   
  }
  .navbar li {
    display: inline;
    margin-right: 20px; 
    display: block;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(212, 191, 151);
    font-size: 25px;
    font-weight: bold;
    display: block;
  
   }
   /* ------------------------------------------ */
  body{
    background-color: #61331F;
  }
  .card {
    width: 178px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    display: inline-block; 
    margin-top: 100px;
    margin: 36px;
   

  }
  
  .card-details {
    color: black;
    height: 100%;
    gap: 0.5em;
    display: grid;
    place-content: center;
  
  }
  
  .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(212, 191, 151);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
  }
  
  .text-body {
    color: rgb(134, 134, 134);
  }
  
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .card:hover {
    border-color: #61331F;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }

img{
  width:240px ;
  height:317px ;
  border-radius: 20px;

}
.input-container {
  position: relative;
  border-radius: 30px; 
}

.icon {
  position: absolute;
  left: 350px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));

 
}

.input {

  height: 20px;
  width: 400px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
  margin-left: 10px;
 
}


.btn{
  border: none;
  padding: 10px;
  border-radius: 30px;
  margin-left: 10px;
  background-color: rgb(212, 191, 151);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 300px;

}
.title {
  color: rgb(212, 191, 151);
  font-size: 40px;
  margin-left: 30px;

}
.p{
  margin-left: 350px;
  font-size: larger;
  font-weight: bolder;
  color: grey;
  margin-top: 20px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
